{% extends "app/admin/baseAdmin.html" %}
{% block titulo%}EDITAR USUARIO{%endblock%}

{% block body%}
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Modificar Usuario</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarUsuario/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="inputFirstName">Nombre</label>
                            <input value="{{ cliente.nombre }}" placeholder="Nombre" type="text" id="inputFirstName" name="inputFirstName" class="form-control form-control-lg" required/>
                        </div>
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="inputLastName">Apellido</label>
                            <input value="{{ cliente.apellido }}" placeholder="Apellido" type="text" id="inputLastName" name="inputLastName" class="form-control form-control-lg" required/>
                        </div>
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="inputRut">Rut</label>
                            <input value="{{ cliente.rut }}" type="text" id="inputRut" name="inputRut" class="form-control form-control-lg" required/>
                        </div>
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="inputEmail">Correo electronico</label>
                            <input value="{{ cliente.correo }}" placeholder="Correo Electronico" type="email" id="inputEmail" name="inputEmail" class="form-control form-control-lg" required/>
                        </div>
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="typePassword">Contraseña</label>
                            <input value="{{ cliente.password }}" placeholder="Contraseña" type="text" id="typePassword" name="typePassword"
                                class="form-control form-control-lg" required/>                                        
                        </div>
                        <div class="d-flex justify-content-center text-center">
                            <button type="submit" class="btn btn-success btn-lg">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}