{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block contenido %}
	<!--header-->
    <div class="contenedor_encabezado">  
        <!--Logo-->
        <div class="contenedor_logo">
            <a href="{% url 'home' %}">
                <img class="item-logo" src="{% static 'app/img/OnLineTickets-Logo.png' %}" alt="logo">
            </a>
        </div>
        <!--Barra Buscador-->
        <div class="contenedor_barrabusqueda">
            <form class="item-barra-busqueda" action="" method="get">
            <input type="text" placeholder="Buscar..." name="q">
            <button class="boton-busqueda" type="submit"><span class="icono-lupa"></span>Buscar</button>
            </form>
        </div>
        <!--Inicio sesion/Registro-->
        <div class="contenedor_login">
            <nav class="subcontenedor_login">
                <ul>
                    <li class="item-inicio-sesion"><a href="{% url 'iniciosesion' %}">Iniciar Sesion</a></li>
                    <li class="item-registro"><a href="{% url 'registro' %}">Registrar</a></li>
                </ul>
            </nav>
        </div>
    </div>

	<!--Formulario Contacto-->
	{% load crispy_forms_tags %}
	<h2>Contactanos!</h2>
	<form action="" class="formulario_contacto">
		{% csrf_token %}

		{{ form | crispy }}

		<button type="submit" id="BtnEnviar" class="button">Enviar</button>
	</form>

	<table id="tablacontactanos"></table>
    
    <!--Pie de Pagina-->
	<footer id="elementos_footers">
		<div class="contenedor_sociales">
		  <ul>
			<li><a href="{% url 'contactanos' %}">Contactanos</a></li>
        	<li><a href="{%url 'soporte' %}">Soporte</a></li>
        	<li><a href="{% url 'quienessomos' %}">Quienes Somos</a></li>
		  </ul>
		</div>
		<p>Siguenos</p>
		<ul class="Redes_Sociales">
			<li><a target="_blank" href="https://www.youtube.com/user/nombre-canal"><i class="fab fa-youtube"></i></a></li>
			<li><a target="_blank" href="https://www.instagram.com/nombre-usuario/"><i class="fab fa-instagram"></i></a></li>
			<li><a target="_blank" href="https://www.facebook.com/nombre-pagina/"><i class="fab fa-facebook"></i></a></li>
		</ul>
		<div class="derechos_autor">
			<p>&copy; 2023 - Todos los derechos reservados</p>
		</div>
	</footer>
{% endblock %}
