{% extends 'app/base.html' %}

{% block encabezado %}
    <!--Logo-->
    <div class="contenedor_logo">
        <a href="index.html">
            <img class="item-logo" src="../IMG/OnLineTickets-Logo.png" alt="logo">
        </a>
    </div>
    <!--Barra Buscador-->
    <div class="contenedor_barrabusqueda">
        <form class="item-barra-busqueda" action="" method="get">
          <input type="text" placeholder="Buscar..." name="q">
          <button class="boton-busqueda" type="submit"><span class="icono-lupa"></span>Buscar</button>
        </form>
      </div>

    <!--Inicio sesion/Registro-->
    <div class="contenedor_login">
        <nav class="subcontenedor_login">
            <ul>
                <a href="{% url 'iniciosesion' %}">Iniciar Sesion</a>
                <li class="item-registro"><a href="{% url 'registro' %}">Registrar</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}

<form id="contenedor_inicio_sesion" class="formulario_inicio_sesion" action="/login" method="post">
    <label for="usuario" class="label_usuario">Nombre de usuario o correo electrónico:</label>
    <input type="text" id="usuario" name="usuario" class="input_usuario" required>
  
    <label for="password" class="label_password">Contraseña:</label>
    <input type="password" id="password" name="password" class="input_password" minlength="8" required>
  
    <button class="item-boton-inicio-sesion" type="submit">Iniciar sesión</button>
</form>

{% block footer %}
    <footer id="elementos_footers">
        <div class="contenedor_sociales">
        <ul>
            <li><a href="contactanos">Contactanos</a></li>
            <li><a href="soporte">Soporte</a></li>
            <li><a href="quienessomos">Quienes Somos</a></li>
        </ul>
        </div>
        <p>Siguenos</p>
        <ul class="Redes_Sociales">
            <li><a target="_blank" href="https://www.youtube.com/user/nombre-canal"><i class="fab fa-youtube"></i></a></li>
            <li><a target="_blank" href="https://www.instagram.com/nombre-usuario/"><i class="fab fa-instagram"></i></a></li>
            <li><a target="_blank" href="https://www.facebook.com/nombre-pagina/"><i class="fab fa-facebook"></i></a></li>
        </ul>
        <div class="derechos_autor">
            <p>&copy; 2023 - Todos los derechos reservados</p>
        </div>
    </footer>
{% endblock %}