{% extends 'app/base.html' %}

{% block encabezado %}
<!--Logo-->
<div class="contenedor_logo">
    <a href="index.html">
        <img class="item-logo" src="../IMG/OnLineTickets-Logo.png" alt="logo">
    </a>
</div>
<!--Barra Buscador-->
<div class="contenedor_barrabusqueda">
    <form class="item-barra-busqueda" action="" method="get">
      <input type="text" placeholder="Buscar..." name="q">
      <button class="boton-busqueda" type="submit"><span class="icono-lupa"></span>Buscar</button>
    </form>
  </div>

<!--Inicio sesion/Registro-->
<div class="contenedor_login">
    <nav class="subcontenedor_login">
        <ul>
            <li class="item-inicio-sesion"><a href="iniciosesion">Iniciar Sesion</a></li>
            <a href="{% url 'registro' %}">Registro</a>
        </ul>
    </nav>
</div>
{% endblock %}

<form action="/registro" method="post" class="registro-form">
    <label for="nombre" class="registro-label">Nombre:</label>
    <input type="text" id="nombre" name="nombre" class="registro-input" required>
  
    <label for="apellido" class="registro-label">Apellido:</label>
    <input type="text" id="apellido" name="apellido" class="registro-input" required>
  
    <label for="rut" class="registro-label">Rut:</label>
    <input type="text" id="rut" name="rut" class="registro-input" required>
  
    <label for="email" class="registro-label">Email:</label>
    <input type="email" id="email" name="email" class="registro-input" required>
  
    <label for="password" class="registro-label">Contraseña:</label>
    <input type="password" id="password" name="password" class="registro-input" minlength="8" required>
  
    <button class="btn-registro" type="submit" class="registro-btn">Registrarse</button>

    <script src="../js/ingreso-rut.js"></script>
    <script src="../js/validacion-correoelectronico-registro.js"></script>
    <script src="../js/validacion-password-registro.js"></script>
</form>

{% block footer %}
<footer id="elementos_footers">
    <div class="contenedor_sociales">
      <ul>
        <li><a href="contactanos">Contactanos</a></li>
        <li><a href="soporte">Soporte</a></li>
        <li><a href="quienessomos">Quienes Somos</a></li>
      </ul>
    </div>
    <p>Siguenos</p>
    <ul class="Redes_Sociales">
        <li><a target="_blank" href="https://www.youtube.com/user/nombre-canal"><i class="fab fa-youtube"></i></a></li>
        <li><a target="_blank" href="https://www.instagram.com/nombre-usuario/"><i class="fab fa-instagram"></i></a></li>
        <li><a target="_blank" href="https://www.facebook.com/nombre-pagina/"><i class="fab fa-facebook"></i></a></li>
    </ul>
    <div class="derechos_autor">
        <p>&copy; 2023 - Todos los derechos reservados</p>
    </div>
</footer>
{% endblock %}

<script src="{% static 'js/validacion-correoelectronico-registro.js' %}"></script>
<script src="{% static 'js/validacion-password-registro.js' %}"></script>
